// Microsoft Visual C++ generated resource script.
//
#include "windows.h"
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

MAIN DIALOGEX 100, 100, 400, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "NNUE GUI 1.1"
FONT 9, "Verdana", 400, 0, 0x0
BEGIN
    EDITTEXT        ID_OUTPUT,10,51,315,237,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | NOT WS_BORDER | WS_VSCROLL | WS_HSCROLL
    CONTROL         "",-1,"Static",SS_ETCHEDFRAME,87,26,156,14
    EDITTEXT        ID_UCI_NAME,88,27,154,12,ES_CENTER | NOT WS_BORDER
    PUSHBUTTON      "Start",ID_START,335,207,56,12
    PUSHBUTTON      "Stop",ID_STOP,335,225,56,12
    PUSHBUTTON      "Exit",ID_EXIT,335,277,56,12
    PUSHBUTTON      "Config",ID_CONFIG,335,159,56,12
    CONTROL         "",-1,"Static",SS_ETCHEDFRAME,335,103,56,50
    EDITTEXT        ID_LOAD_NN,336,128,54,12,NOT WS_BORDER
    EDITTEXT        ID_HASH,336,104,54,12,NOT WS_BORDER
    EDITTEXT        ID_THREADS,336,116,54,12,NOT WS_BORDER
    EDITTEXT        ID_LOG,336,140,54,12,NOT WS_BORDER
    EDITTEXT        ID_STATUS,336,51,54,14,ES_AUTOHSCROLL | NOT WS_BORDER
    CONTROL         "",ID_LOGO,"Static",SS_BITMAP,10,11,11,12
    CONTROL         "",-1,"Static",SS_ETCHEDFRAME,335,50,56,16
    CONTROL         "",-1,"Static",SS_ETCHEDFRAME,9,50,317,240
END

CONFIG DIALOGEX 0, 0, 539, 199
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Config"
FONT 9, "Verdana", 400, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,423,173,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,478,173,50,14
    LTEXT           "Syzygy Path",-1,12,56,39,8
    CONTROL         "",-1,"Static",SS_ETCHEDFRAME,12,23,484,15
    EDITTEXT        ID_ENGINE_PATH,13,24,482,12,NOT WS_BORDER
    EDITTEXT        ID_ENGINE_TB_PATH,13,69,482,12,NOT WS_BORDER
    PUSHBUTTON      "...",ID_ENGINE_SELECT,505,22,21,15
    PUSHBUTTON      "...",ID_ENGINE_TB_SELECT,505,67,21,15
    COMBOBOX        ID_HASH_CFG,33,149,34,160,CBS_DROPDOWN | WS_VSCROLL
    COMBOBOX        ID_THREADS_CFG,33,172,34,160,CBS_DROPDOWN | WS_VSCROLL
    LTEXT           "Hash",-1,12,151,18,8
    LTEXT           "SMP",-1,12,173,18,8
    LTEXT           "MBs",-1,72,153,18,8
    LTEXT           "Threads",-1,72,173,28,8
    CONTROL         " Load nn.bin",ID_LOAD_NN_CFG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,152,48,10
    LTEXT           "Command Line",-1,12,101,48,8
    LTEXT           "NNUE binary",-1,12,11,40,8
    COMBOBOX        ID_COMMAND_CFG,12,113,514,160,CBS_DROPDOWN | WS_VSCROLL
    CONTROL         "",-1,"Static",SS_ETCHEDFRAME,12,68,484,15
    CONTROL         " Create Log",ID_LOG_CFG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,173,48,10
END


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

ID_BMP                  BITMAP                  "nnue-gui.bmp"


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    "MAIN", DIALOG
    BEGIN
    END

    "CONFIG", DIALOG
    BEGIN
        RIGHTMARGIN, 530
        BOTTOMMARGIN, 197
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

MAIN AFX_DIALOG_LAYOUT
BEGIN
    0
END

CONFIG AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

