// Microsoft Visual C++ generated resource script.
//
#include "windows.h"
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

MAIN DIALOGEX 100, 100, 400, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "NNUE GUI 1.1"
FONT 9, "Verdana", 400, 0, 0x0
BEGIN
    EDITTEXT        ID_OUTPUT,9,51,316,237,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_VSCROLL | WS_HSCROLL
    CONTROL         "",-1,"Static",SS_ETCHEDFRAME,91,26,156,14
    EDITTEXT        ID_UCI_NAME,92,27,154,12,ES_CENTER | NOT WS_BORDER
    PUSHBUTTON      "Start",ID_START,334,207,56,12
    PUSHBUTTON      "Stop",ID_STOP,334,225,56,12
    PUSHBUTTON      "Exit",ID_EXIT,334,276,56,12
    PUSHBUTTON      "Config",ID_CONFIG,334,159,56,12
    CONTROL         "",-1,"Static",SS_ETCHEDFRAME,334,103,56,50
    EDITTEXT        ID_LOAD_NN,335,128,54,12,NOT WS_BORDER
    EDITTEXT        ID_HASH,335,104,54,12,NOT WS_BORDER
    EDITTEXT        ID_THREADS,335,116,54,12,NOT WS_BORDER
    EDITTEXT        ID_LOG,335,140,54,12,NOT WS_BORDER
    EDITTEXT        ID_STATUS,334,51,56,14,ES_AUTOHSCROLL
    CONTROL         "",ID_LOGO,"Static",SS_BITMAP,10,11,11,12
END

CONFIG DIALOGEX 0, 0, 539, 199
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Config"
FONT 9, "Verdana", 400, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,423,173,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,479,173,50,14
    LTEXT           "Syzygy Path",-1,12,50,39,8
    CONTROL         "",-1,"Static",SS_ETCHEDFRAME,12,23,484,14
    EDITTEXT        ID_ENGINE_PATH,12,24,483,12,NOT WS_BORDER
    EDITTEXT        ID_ENGINE_TB_PATH,13,64,483,12,NOT WS_BORDER
    PUSHBUTTON      "...",ID_ENGINE_SELECT,504,24,21,12
    PUSHBUTTON      "...",ID_ENGINE_TB_SELECT,504,64,21,12
    COMBOBOX        ID_HASH_CFG,33,149,34,160,CBS_DROPDOWN | WS_VSCROLL
    COMBOBOX        ID_THREADS_CFG,33,172,34,160,CBS_DROPDOWN | WS_VSCROLL
    LTEXT           "Hash",-1,12,151,18,8
    LTEXT           "SMP",-1,12,173,18,8
    LTEXT           "MBs",-1,72,153,18,8
    LTEXT           "Threads",-1,72,173,28,8
    CONTROL         " Load nn.bin",ID_LOAD_NN_CFG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,152,48,10
    LTEXT           "Command Line",-1,12,101,48,8
    LTEXT           "NNUE binary",-1,13,11,40,8
    COMBOBOX        ID_COMMAND_CFG,12,113,516,160,CBS_DROPDOWN | WS_VSCROLL
    CONTROL         "",-1,"Static",SS_ETCHEDFRAME,12,63,484,14
    CONTROL         " Create Log",ID_LOG_CFG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,173,48,10
END


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

ID_BMP                  BITMAP                  "nnue-gui.bmp"


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    "MAIN", DIALOG
    BEGIN
    END

    "CONFIG", DIALOG
    BEGIN
        RIGHTMARGIN, 530
        BOTTOMMARGIN, 197
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

MAIN AFX_DIALOG_LAYOUT
BEGIN
    0
END

CONFIG AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

